/* ---- Companies ---- */
@import '@resources';

.wrapper {
    padding: $section-gutter - 20;

    @include mq($tablet-large) {
        padding: 50px 0;
    }

    @include mq($phone) {
        padding: 30px 0;
    }
}

.slide {
    border-right: 2px solid #585858;

    @include mq(500) {
        border-right: none;
    }
}

.image {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
