/* ---- Contact ---- */
@import '@resources';

.wrapper {
    padding-top: $section-gutter;

    @include mq($tablet-large) {
        padding-top: 50px;
    }

    @include mq($phone) {
        padding-top: 30px;
    }
}

.row {
    @include flexible();
    justify-content: space-between;

    @include mq($tablet) {
        flex-direction: column;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.title {
    text-transform: uppercase;

    @include mq($tablet) {
        text-align: center;
    }
}

.description {
    max-width: 500px;
    margin-top: 20px;

    @include mq($tablet) {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
}

.form {
    gap: 20px;
    margin-top: 50px;
    width: 40%;

    @include mq($tablet) {
        width: 90%;
        margin-top: 30px;
    }
}

.image {
    position: relative;
    width: 50%;
    height: 434px;

    & img {
        border-radius: 50px;
    }

    @include mq($tablet) {
        width: 90%;
        height: 300px;
        margin-top: 30px;
    }
}

.textarea {
    height: 150px;
}

.button {
    @include font-size(25px);
    @include transition();
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    padding: 15px 50px;
    color: $white-1;
    background: $theme-color;
    cursor: pointer;
    border-radius: 50px;

    &:hover {
        @include transition();
        opacity: 0.8;
    }

    @include mq(1050) {
        @include font-size(20px);
        padding: 15px 25px;
    }

    @include mq($tablet) {
        @include font-size(18px);
    }
}