/* ---- Services ---- */
@import '@resources';

.wrapper {
    padding-top: $section-gutter;

    @include mq($tablet-large) {
        padding-top: 50px;
    }

    @include mq($phone) {
        padding-top: 30px;
    }
}

.row {
    @include flexible();
    justify-content: space-between;

    @include mq($tablet) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 30px;
        text-align: center;
    }
}

.desc {
    opacity: 0.7;
    margin-top: 5px;
}

.button {
    @include mq($tablet) {
        margin: 0 auto;
    }
}

.title {
    text-transform: uppercase;

    @include mq(1000) {
        & br {
            display: none;
        }
    }
}

.container {
    position: relative;
    margin-top: 40px;
}

.item {
    @include transition();
    cursor: pointer;

    &:hover {
        @include transition();
        transform: scale(0.9);
        opacity: 0.8;
    }
}

.image {
    position: relative;
    width: 100%;
    height: 310px;

    & img {
        border-radius: 30px;
    }
}

.content {
    @include flexible();
    margin-top: 20px;
}

.category {
    background: $theme-color;
    padding: 2px 20px;
    border-radius: 10px;
}

.date {
    @include font-size(16px);
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.subtitle {
    margin-top: 15px;
}

.previous,
.next {
    @include transition();
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    & path {
        @include transition();
        fill: rgba(255, 255, 255, 0.5);
    }

    &:hover path {
        @include transition();
        fill: $theme-color;
    }

    @include mq(1000) {
        display: none;
    }
}

.previous {
    left: -60px;

    @include mq($laptop) {
        left: -30px;
    }
}

.next {
    right: -60px;

    @include mq($laptop) {
        right: -30px;
    }
}

.icon {
    display: block;
    width: 40px;
    height: 40px;

    @include mq($laptop) {
        width: 20px;
        height: 20px;
    }
}